# Created by .ignore support plugin (hsz.mobi)
*~
.DS_Store
.idea/crawer.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
learn.iml
.idea/dbnavigator.xml
.idea/encodings.xml
projectFilesBackup/.idea/workspace.xml
dbnavigator.xml
ChatDefinition.h
IMDefaultDefinition.h
IMClient01
autobuild.sh
main
.idea
*.iml
cache
todo/node_modules

### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
config.json

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

